.label{
    margin-bottom: .85rem;
    font-weight: 600;
}
.input-group{
    margin-bottom: 2rem;
}
.label-range{
    margin-bottom: 2.5rem;
    font-weight: 600;
}
.trending{
    margin-bottom:1.5rem ;
    font-weight: 600;
}